<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592680078979-2libb4mvb7bug96csc3ppfecpnk79b9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592680078979-2libb4mvb7bug96csc3ppfecpnk79b9q</string>
	<key>API_KEY</key>
	<string>AIzaSyBKqbuXAVoYDmYc2eY3V-w0ysGy-bS1kC8</string>
	<key>GCM_SENDER_ID</key>
	<string>592680078979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rutavalluna.ios</string>
	<key>PROJECT_ID</key>
	<string>rutavalluna-5d92d</string>
	<key>STORAGE_BUCKET</key>
	<string>rutavalluna-5d92d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592680078979:ios:daaaa546dcda35d90b15b6</string>
	<key>DATABASE_URL</key>
	<string>https://rutavalluna-5d92d.firebaseio.com</string>
</dict>
</plist>